In [66]:
from pymongo import MongoClient
import pandas as pd
import numpy as np

%matplotlib

Using matplotlib backend: MacOSX

In [67]:
client=MongoClient("mongodb://localhost:27017/")
db=client.companies

In [68]:
#Query para pedir toda la base de datos

companies=db.companies.find()

In [69]:
datos= pd.DataFrame(companies)

In [70]:
datos.head()

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,video_embeds,screenshots,external_links,partners,founded_month,founded_day,deadpooled_month,deadpooled_day,deadpooled_url,ipo
0,52cdef7c4bab8bd675297d8b,AdventNet,abc3,http://www.crunchbase.com/company/adventnet,http://adventnet.com,,,manageengine,enterprise,600.0,...,[],"[{'available_sizes': [[[150, 94], 'assets/imag...",[],[],NaN,NaN,NaN,NaN,NaN,NaN
1,52cdef7c4bab8bd675297d8f,Omnidrive,omnidrive,http://www.crunchbase.com/company/omnidrive,http://www.omnidrive.com,http://www.omnidrive.com/blog,http://feeds.feedburner.com/omnidrive,Nomadesk,network_hosting,NaN,...,[],[],[],[],11.0,1.0,9.0,15.0,,None
2,52cdef7c4bab8bd675297d92,Flektor,flektor,http://www.crunchbase.com/company/flektor,http://www.flektor.com,http://www.flektor-blog.com,http://www.flektor-blog.com/video_editing_soft...,None,games_video,NaN,...,[],[],[],[],NaN,NaN,NaN,NaN,None,None
3,52cdef7c4bab8bd675297d90,Postini,postini,http://www.crunchbase.com/company/postini,http://postini.com,,,None,web,NaN,...,[],[],[],[],6.0,2.0,NaN,NaN,None,None
4,52cdef7c4bab8bd675297d91,Geni,geni,http://www.crunchbase.com/company/geni,http://www.geni.com,http://blog.geni.com,http://blog.geni.com/index.rdf,geni,web,18.0,...,"[{'embed_code': '<object width=""425"" height=""3...",[],[],[],6.0,1.0,NaN,NaN,None,None

In [71]:
#viendo tipo de datos.
datos["category_code"].value_counts()

web                 3787
software            2736
games_video         1083
mobile              1018
other                986
advertising          928
enterprise           742
ecommerce            688
consulting           637
network_hosting      626
public_relations     533
search               394
biotech              373
hardware             368
cleantech            305
semiconductor        167
security             156
analytics             66
finance               49
social                49
news                  48
education             36
music                 33
messaging             30
medical               25
legal                 25
travel                25
health                23
photo_video           23
manufacturing         19
sports                13
fashion               10
real_estate           10
automotive             9
hospitality            8
transportation         7
nanotech               5
design                 4
nonprofit              4
local                  1
government             1
Name: category_code, dtype: int64

In [72]:
query = db.companies.find({"$and":[
                               {"founded_year": {"$gte": 1990}},
                               {"number_of_employees": {"$gte": 7}},
                                {"total_money_raised":{"$regex":"M"}},
                               {"$or": [
                                   {"category_code": "design" } ,
                                   {"category_code": "biotech" } ,
                                   {"category_code":"games_video"},
                                   {"category_code":"web"},
                                   {"category_code": "software" } ,
                                   {"category_code": "education" } ,
                                   ]}
                               ],
                               },
                                {"_id": 0, "crunchbase_url": 0, "products": 0, "founded_month": 0, "founded_day": 0,
                                "acquisition": 0, "acquisitions": 0, "video_embeds": 0,
                                "screenshots": 0, "external_links": 0, "partners": 0,
                                "image": 0, "blog_feed_url": 0, "blog_url":0, "deadpooled_day":0,
                                "deadpooled_year":0, "deadpooled_month":0, "deadpooled_url":0, "ipo":0,
                                "permalink":0, "homepage_url":0, "tag_list":0, "email_addres": 0, "providerships": 0,
                                "milestones": 0, "twitter_username": 0, "updated_at": 0, "email_address":0, "investments":0,
                               }
                                    )

In [73]:
datos= pd.DataFrame(query)

In [74]:
datos.head()

,name,category_code,number_of_employees,founded_year,alias_list,phone_number,description,created_at,overview,relationships,competitions,total_money_raised,funding_rounds,offices
0,Geni,web,18,2006,,,Geneology social network site,Thu May 31 19:52:34 UTC 2007,<p>Geni is an online community of casual and e...,"[{'is_past': False, 'title': 'CEO', 'person': ...","[{'competitor': {'name': 'Ancestry', 'permalin...",$16.5M,"[{'id': 6, 'round_code': 'a', 'source_url': ''...","[{'description': 'Headquarters', 'address1': '..."
1,Wetpaint,web,47,2005,,206.859.6300,Technology Platform Company,2007-05-25 06:51:27,<p>Wetpaint is a technology platform company t...,"[{'is_past': False, 'title': 'Co-Founder and V...","[{'competitor': {'name': 'Wikia', 'permalink':...",$39.8M,"[{'id': 888, 'round_code': 'a', 'source_url': ...","[{'description': '', 'address1': '710 - 2nd Av..."
2,Plaxo,web,50,2002,,650-254-5400,Contact Management,Sat Jun 09 14:18:54 UTC 2007,<p>Plaxo helps keep people connected by solvin...,"[{'is_past': False, 'title': 'President & CEO'...","[{'competitor': {'name': 'Xobni', 'permalink':...",$28.3M,"[{'id': 20, 'round_code': 'a', 'source_url': '...","[{'description': 'HQ', 'address1': '1050 Enter..."
3,Mahalo,web,40,2007,,,Life long learning content,Thu Jun 14 03:42:20 UTC 2007,<p>Mahalo is a human powered search engine fou...,"[{'is_past': False, 'title': 'Founder, CEO', '...","[{'competitor': {'name': 'Topicle', 'permalink...",$21M,"[{'id': 323, 'round_code': 'a', 'source_url': ...","[{'description': '', 'address1': '3525 Eastham..."
4,Kyte,games_video,40,2006,,,Online & Mobile Video Platform,Thu Jun 14 18:26:11 UTC 2007,<p>Kyte is the online and mobile video platfor...,"[{'is_past': False, 'title': 'CTO and co-found...","[{'competitor': {'name': 'Ustream', 'permalink...",$23.4M,"[{'id': 32, 'round_code': 'a', 'source_url': '...","[{'description': None, 'address1': '442 Post S..."

In [75]:
datos.shape

(629, 14)

In [76]:
datos.isnull().sum()

name                     0
category_code            0
number_of_employees      0
founded_year             0
alias_list             148
phone_number             2
description             35
created_at               0
overview                 0
relationships            0
competitions             0
total_money_raised       0
funding_rounds           0
offices                  0
dtype: int64

In [77]:
datos.drop(columns=["alias_list","created_at"],inplace=True)

In [78]:
datos["description"]=datos["description"].fillna(0)

In [79]:
datos=datos.replace(np.nan,0)

In [80]:
datos.isnull().sum()

name                   0
category_code          0
number_of_employees    0
founded_year           0
phone_number           0
description            0
overview               0
relationships          0
competitions           0
total_money_raised     0
funding_rounds         0
offices                0
dtype: int64

In [81]:
datos.shape

(629, 12)

In [89]:
datos.dropna(how="all",subset={"offices"},inplace=True)

In [82]:
datos["offices"].value_counts()

[]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         6
[{'description': 'Lyft HQ', 'address1': '', 'address2': '', 'zip_code': '94104', 'city': 'San Francisco', 'state_code': 'CA', 'country_code': 'USA', 'latitude': 37.7899027, 'longitude': -122.4007846}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   2
[{'description': 'Tweegee Develpoment', 'address1': 'B.S.R 1', 'address2': 'Ben Gurion 2', 'zip_code': '', 'city': 'Ramat Gan', 'state_code': None, 'country_code': 'ISR', 'latitude': 32.037363, 'longitude': 34.8003705}, {'description': 'Tipeez Turkey', 'address1': '', 'address2': '', 'zip_code': '', 'city': 'Istanbul', 'state_code': None, 'country_code': 'TUR', 'latitude': None, 'longitude': None}, {'description': 'Tvidi.ru', 'address1': '', 'address2': '', 'zip_code': '', 'city': 'Moscow', 'state_code': None, 'country_code': 'RUS', 'latitude': None, 'longitude': None}, {'description': 'Twigis.com', 'address1': '', 'address2': '', 'zip_code': '', 'city': 'Buenos Aires', 'state_code': None, 'country_code': 'ARG', 'latitude': None, 'longitude': None}]    2
[{'description': 'Headquarters', 'address1': '242W 30th Street', 'address2': 'Suite 501', 'zip_code': '10001', 'city': 'New York', 'state_code': 'NY', 'country_code': 'USA', 'latitude': 40.775309, 'longitude': -73.983656}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             2
[{'description': '', 'address1': '', 'address2': '', 'zip_code': '', 'city': 'Tel Aviv', 'state_code': None, 'country_code': 'ISR', 'latitude': 32.0554, 'longitude': 34.7595}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            2
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          ..
[{'description': 'HQ', 'address1': '300 W. Adams', 'address2': '9th Floor', 'zip_code': '60606', 'city': 'Chicago', 'state_code': 'IL', 'country_code': 'USA', 'latitude': 42.040851, 'longitude': -87.750643}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            1
[{'description': 'Squarespace', 'address1': '459 Broadway', 'address2': '5th Floor', 'zip_code': '10013', 'city': 'New York', 'state_code': 'NY', 'country_code': 'USA', 'latitude': None, 'longitude': None}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1
[{'description': '', 'address1': 'SoHo', 'address2': '', 'zip_code': '', 'city': 'New York', 'state_code': 'NY', 'country_code': 'USA', 'latitude': 40.723384, 'longitude': -74.001704}, {'description': '', 'address1': '', 'address2': '', 'zip_code': '', 'city': 'Austin', 'state_code': 'TX', 'country_code': 'USA', 'latitude': None, 'longitude': None}]                                                                                                                                                                                                                                                                                                                                                                                                                            1
[{'description': 'Garlik UK Office', 'address1': '2, Sheen Road', 'address2': '', 'zip_code': 'TW9 1AE', 'city': 'Richmond', 'state_code': None, 'country_code': 'GBR', 'latitude': 51.462108, 'longitude': -0.295441}, {'description': 'Garlik US Office', 'address1': '445 Park Avenue', 'address2': '', 'zip_code': '10022', 'city': 'New York', 'state_code': 'NY', 'country_code': 'USA', 'latitude': 40.7615818, 'longitude': -73.970624}]                                                                                                                                                                                                                                                                                                                                           1
[{'description': 'Headquarters', 'address1': '215 Park Avenue South', 'address2': '20th Floor', 'zip_code': '10003', 'city': 'New York', 'state_code': 'NY', 'country_code': 'USA', 'latitude': 40.726517, 'longitude': -74.032177}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1
Name: offices, Length: 603, dtype: int64

In [84]:
latitude = db.companies.find({},{"offices.latitude":1})
longitude = db.companies.find({},{"offices.longitude":1})

In [87]:
def geopoint(x):
   for ele in x:
       longitude = ele["longitude"]
       latitude = ele["latitude"]
       return{"type": "Point", "coordinates": {"longitude":longitude,"latitude":latitude}}
    
datos["geo"] = datos["offices"].apply(geopoint)

In [88]:
datos.to_json(r'./oficina.json', orient="records")

In [83]:
mongoimport --db companies --collection prueba --jsonArray oficinas.json

SyntaxError: invalid syntax (<ipython-input-83-3fc3dea82ab0>, line 1)